
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: #444;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="icon"] {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 4rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #444;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    box-sizing: border-box;
}

form,
nav a {
    color: white;
    text-decoration: none;  
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a:hover {
    background-color: #555;
}

main {
    display: grid;
    grid-area: main;
    background-color: #666;
    color: white;
}

h2 {
    font-size: 2rem;
}

li {
    display: grid;
    place-items: center;
}

footer li {
    display: inline;
}

footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
    color: black;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #444;
    color: white;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.name {
    grid-area: 1 / 4 / -7 / -1;
    background-color: red;
}

.pizzaImg {
    grid-area: 2 / 4 / -2 / -1;
    background-color: blue;
    border: 1px solid #ddd;
    border-radius: 14px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

@media (max-width: 576px) {

    .sidebar {
        width: 100%;
    }

    .menuButton {
        display: block;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .hideOnMobile {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }
}