
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: #444;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="icon"] {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 4rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #444;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    box-sizing: border-box;
}

form,
nav a {
    color: white;
    text-decoration: none;  
    padding: 0 2rem;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a:hover {
    background-color: #555;
}

main {
    display: grid;
    grid-area: main;
    background-color: #666;
    color: white;
}

h2 {
    font-size: 2rem;
}

footer li {
    display: inline;
}

footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
    color: black;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #444;
    color: white;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    margin: 40px auto;
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

#recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem 0;
    text-align: center;
    color: white;
}

.pizzaImg {
    max-width: 100%;
    height: auto;
    border-radius: 14px;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    overflow: hidden;
}

.txtIngredients, .txtInstructions, .txtRating {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.5rem;
}


li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#rating-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rating-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rating-form label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#rating-form input {
    width: 60px;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#rating-form button {
    background-color: #457b9d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

#rating-form button:hover {
    background-color: #1d3557;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    #recipe-details, #rating-section {
        flex: 1;
        margin: 20px;
    }

    #recipe-details {
        max-width: 70%;
    }

    #rating-section {
        max-width: 30%;
        align-items: flex-start;
    }

    #rating-form {
        align-items: flex-start;
    }
}

@media (max-width: 576px) {

    .sidebar {
        width: 100%;
    }

    .menuButton {
        display: block;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .hideOnMobile {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }
}