
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: #444;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    text-align: center;
    padding: 1rem;
}

main ul {
    list-style: none;
}

main h2 {
    margin: 1rem 0;
}

.recipe1-img {
    width: 100%;
    height: auto;
    max-width: 520px;
    
}

footer {
    grid-area: footer;
    text-align: center;
    border-top: 2px solid #000;
    height: 1.5rem;
}